.graph-wrapper {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  width: 100%;
}

.input-graph-data {
  border: 2px solid blue;
  right: 20px;
}