body {
  background-color: ghostwhite;
  margin: 3px 20px 3px;
}

.graph-wrapper {
  /* align-items: center; */
  display: flex;
  justify-content: space-between;
  height: 700px;
}

.input-graph-data {
  border-radius: 6px;
}

.slider-wrapper {
  margin: 0px 10px 0px;
  width: 200px;
}

.row {
  align-items: center;
  justify-content: center;
  display: flex;
}

.edges-editor {
  height: 100%;
  overflow-y: scroll;
  padding: 5px;
  position: relative;
  width: inherit;
}

.edges-list {
  display: grid;
  padding: 5px;
}

/* style-editor */

.style-editor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: inherit;
}

.style-editor.panel div h1 {
  text-align: center;
}

.style-editor h2 {
  padding: 0px 20px 0px;
}

/* style-editor */

/* panel */

.panel {
  background-color: rgba(25, 118, 210, 0.38);
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px;
  padding: 5px 10px 5px;
}

.panel .panel {
  background-color: white;
}

.panel hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu-control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

/* panel */

#addEdgePanel {
  background-color: rgb(229, 244, 248);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: sticky;
  top: 5px;
  width: 100%;
  z-index: 10;
}

#addEdgePanel p {
  color: #1976d2;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
}

/* scrollbar */

.edges-editor.panel::-webkit-scrollbar {
  width: 10px;
}

.edges-editor.panel::-webkit-scrollbar-thumb {
  background: #1976d2;
  border-radius: 6px;
}

/* scroolbar */