body {
  background-color: ghostwhite;
  margin: 20px;
}

.download-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 20px 0px;
  width: 320px;
}

.graph-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 700px;
}

.input-graph-data {
  border-radius: 6px;
}

/* node-editor */

.node-editor {
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  height: 100%;
  padding: 10px;
  width: 780px;
}

.node-editor hr {
  border-top: 2px dashed black;
}

.node-editor h1 {
  text-align: center;
}

.node-editor h2 {
  padding: 0px 20px 0px;
}

.slider-wrapper {
  width: 300px;
}

/* node-editor */

.row {
  align-items: center;
  justify-content: center;
  display: flex;
}

.edge-editor {
  height: 700px;
  overflow-y: scroll;
  position: relative;
  width: 780px;
}

.edge-input {
  background-color: #DFCFBE;
  border-radius: 6px;
  justify-content: space-around;
  height: 70px;
  margin: 5px;
}

.edge-list {
  background-color: #c0c4c2;
  border-radius: 6px;
  padding: 5px;
}